.cart-item {
  align-items: center;
  display: flex;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__image {
    display: block;
    height: auto;
    width: 80px;
  }

  &__image + &__content {
    margin-left: 10px;
  }

  &__text {
    margin: 0;
  }

  &__content {
    flex-grow: 1;
    width: 1%;
  }
}
